@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.main-container-search{
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    background-color: #145A96;
    padding:10rem;
    display: flex;
    flex-direction: column;
    
}

.search-h1{
    color:white;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 3rem;
}

.search-h4{
    color:white;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    font-style: bold;
    font-size: 1rem;
    
}
.search-h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.search-flight{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:1rem 1rem 1.2rem 1rem;
    border-radius: 1rem;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-2{
    display: flex;
    justify-content: space-between;
}

.search-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.radio-label{
    margin-right:0.4rem;
    color:rgb(84, 83, 83);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;

}

.search-radio{
    margin-right:0.4rem;
    color:rgb(84, 83, 83);

}

.search-btn{
    background-color: orange;
    color:white;
    border: none;
    border-radius: 0.2rem;
    width:10%;
    margin-top: 0.4rem;
    padding:0  0.7rem 0 0.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;

}

@media (max-width: 1280px) {

    .row-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-btn{
        width:50%;
        max-width: 10rem;
        padding:1rem;

    }
    .row-1{
        flex-direction: column;
        align-items: start;
    }
    .search-flight{
        width:100%;
        max-width: 15rem;
        align-items: center;
    }
    .main-container-search{
        align-items: center;
        text-align: center;
        max-width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    
    }
}
@media (max-width: 560px) {
    .search-flight{
        width: 100rem;
    }
    
    
}


