.main-container-searchcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid rgb(220, 220, 220) 0.12rem;
    border-radius: 0.4rem;
    width:50%;
    padding: 0rem 1rem 0rem 1rem;

}

.dep-dst-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #145A96;
font-family: 'Inter', sans-serif;
    font-weight: 700; 
    font-style: normal;

}

.dep-time{
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

b{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}