.preparation-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; 
    box-sizing: border-box;
}

.main-container-preparetrip {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 0rem 4rem;
    width: 80%;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.preparations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preperation-h3 {
    color: rgb(220, 220, 220);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

@media (max-width: 479px) {
    .main-container-preparetrip {
        align-items: center;
        padding: 2rem 1rem;
        width: 95%;
    }

    .preparation-div {
        flex-direction: column; 
        align-items: center;
        gap: 1rem;
    }
}
